
.ranking {
    position: relative;
    height: auto;
}

.table > tbody > tr > td.centerCell {
    text-align: center;
    min-width: 45px;
}

.dataTables_filter > label {
    margin-bottom: 0px;
}

.table > tbody > tr > td.centerCellPic {
    padding: 5px;
    text-align: center;
    min-width: 45px;
}

.progress {
    width: 150px;    
}
