<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MISP live dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- LeafLet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- jQuery flot -->
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-jvectormap-2.0.3.css') }}" type="text/css" media="screen"/>
    <script src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-jvectormap-world-mill.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>


    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ranking.css') }}">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; padding-left: 15px;">
            <div class="navbar-header">
                <img src="{{ url_for('static', filename='pics/MISP.png') }}" alt="MISP" style="float: left; height: 40px; margin-top: 5px;"><a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">MISP Contributors
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('index') }}">MISP Live Dashboard</a></li>
                      <li><a href="{{ url_for('geo') }}">MISP Geolocalisation</a></li>
                      <li><a href="{{ url_for('contrib') }}">MISP Contributors</a></li>
                    </ul>
                <div id="ledsHolder" style="float: right; height: 50px;">
                    <div class='leftSepa textTopHeader'>
                        <strong>Organisation name:</strong>
                    </div>
                    <div class='textTopHeader' style="padding-top: 9px;">
                        <input type="text" id="orgName" data-provide="typeahead" size="20" style="margin-bottom: 5px;">
                    </div>
                    <button id="btnCurrRank" class='btn btn-default popOverBtn' data-container='body' data-toggle='popover' style="display: none; margin-left: 20px;" onclick="showOnlyOrg()">
                        <strong id="orgText" class="centerInBtn"></strong>
                        <div id="orgRankDiv" class='textTopHeader' style="padding-top: 0px; position: relative; width: 40px; height: 40px;"></div>
                        <div class='' style="float: left; padding: 10px;">
                            <div class="progress" style=''>
                                <div id="progressBarDiv" class="progress-bar progress-bar-striped" role="progressbar" style="width:0%">
                                </div>
                            </div>
                        </div>
                        <div id="orgNextRankDiv" class='textTopHeader' style="padding-top: 0px; position: relative; width: 40px; height: 40px;"></div>
                    </button>
                </div>
            </div>
            <!-- /.navbar-header -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="margin: 0px; padding: 0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="height: 10px;"></div>
                        <div class="col-lg-8">

                            <div class="col-lg-8">
                                <div class="panel panel-default" style="height: 100%;">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <i class="fa fa-asterisk " style="margin-right: 5px;"></i><b>Contributor Ranking</b>
                                    </div>
                                    <div id="panelRanking" class="panel-body" style="height: 100%;">

                                        <div class="table-responsive">
                                            <table id="topContribTable" class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Points</th>
                                                        <th>Rank</th>
                                                        <th>Logo</th>
                                                        <th>Organisation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>

                            <div class="col-lg-4">
                                <div class="panel panel-default" style="height: 100%;">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <i class="glyphicon glyphicon-fire " style="margin-right: 5px;"></i><b>Last contributors (24h)</b>
                                    </div>
                                    <div id="panellast" class="panel-body" style="height: 100%;">

                                        <div class="table-responsive">
                                            <table id="lastTable" class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Points</th>
                                                        <th>Rank</th>
                                                        <th>Logo</th>
                                                        <th>Organisation</th>
                                                        <th>epoch</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>

                            <div class="col-lg-12">
                                <div class="panel panel-default" style="height: 100%;">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <i class="fa fa-th-list " style="margin-right: 5px;"></i><b>Contributors and Categories</b>
                                    </div>
                                    <div id="panelRanking" class="panel-body" style="height: 100%;">

                                        <div class="table-responsive">
                                            <table id="categTable" class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Points</th>
                                                        <th>Rank</th>
                                                        <th>Logo</th>
                                                        <th>Organisation</th>
                                                        {% for categ in categ_list_str %}
                                                            <th>{{ categ }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>


                        </div><!-- /.col-lg-8 -->


                        <div class="col-lg-4">

                            <div class="panel panel-default" style="height: 100%;">
                                <div class="panel-heading bg-info" style="font-weight: bold;">
                                    <i class="fa fa-star-o" style="margin-right: 5px;"></i><b>Hall Of Fame</b>
                                </div>
                                <div id="panelRanking" class="panel-body" style="height: 100%;">

                                    <div class="table-responsive">
                                        <table id="fameTable" class="table table-hover table-striped" style="margin-bottom: 0px;">
                                            <thead>
                                                <tr>
                                                    <th>Points</th>
                                                    <th>Prev. rank</th>
                                                    <th>Logo</th>
                                                    <th>Organisation</th>
                                                </tr>
                                            </thead>
                                            <tbody id=fameTableBody>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- /.panel-body -->
                            </div><!-- /.panel -->

                            <div class="panel panel-default" style="height: 100%;">
                                <div class="panel-heading bg-info" style="font-weight: bold;">
                                    <i class="fa fa-line-chart" style="margin-right: 5px;"></i><b>Top 5 Contributor overtime</b>
                                </div>
                                <div id="panelRanking" class="panel-body" style="height: 100%;">
                                    <div id="divTop5Overtime" style="height: 32vh"></div>
                                </div>
                                <!-- /.panel-body -->

                            </div><!-- /.panel -->

                        </div><!-- /.col-lg-4 -->

                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->

            </div> <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
<!-- /#wrapper -->
    <!-- Index -->
    <script>
        /* URL */
        var url_getTopContributor = "{{ url_for('getTopContributor') }}";
        var url_getFameContributor = "{{ url_for('getFameContributor') }}";
        var url_getCategPerContrib = "{{ url_for('getCategPerContrib') }}";
        var url_getTop5Overtime = "{{ url_for('getTop5Overtime') }}";
        var url_getLastContributor = "{{ url_for('getLastContributors') }}";
        var url_eventStreamLastContributor = "{{ url_for('getLastContributor') }}";
        var url_getAllOrg = "{{ url_for('getAllOrg') }}";
        var url_getOrgRank = "{{ url_for('getOrgRank') }}";
        var url_baseRankLogo =     "{{ url_for('static', filename='pics/rankingMISP/1.png') }}";
        url_baseRankLogo = url_baseRankLogo.substring(0, url_baseRankLogo.length-5);

        /* DATA FROM CONF */
        var currOrg = "{{ currOrg }}";
        var rankMultiplier = {{ rankMultiplier }};
        var categ_list = JSON.parse('{{ categ_list|safe }}');

    </script>
    <script src="{{ url_for('static', filename='js/contrib.js') }}"></script>

</body>

</html>
