<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MISP Geolocalisation</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- LeafLet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- jQuery flot -->
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-jvectormap-2.0.3.css') }}" type="text/css" media="screen"/>
    <script src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-jvectormap-world-mill.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>


</head>

<style>
.leaflet-top {
    position: absolute;
    z-index: 801;
    pointer-events: none;
}

.panel-body {
    padding: 0px;
}
 .panel {
     margin-bottom: 10px;
 }

.col-lg-6 {
    padding-right: 5px;
    padding-left: 5px;
}

.leftSepa {
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 2px;
    padding-left: 8px;
}

.textTopHeader {
    height: 50px;
    text-align: center;
    margin-left: 8px;
    float: left;
    padding-top: 9px;
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

small {
    font-size: 100%;
    font-weight: bold;
}

</style>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; padding-left: 15px;">
            <div class="navbar-header">
                <img src="{{ url_for('static', filename='pics/MISP.png') }}" alt="MISP" style="float: left; height: 40px; margin-top: 5px;"><a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">MISP Geolocalisation
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('index') }}">MISP Live Dashboard</a></li>
                      <li><a href="{{ url_for('geo') }}">MISP Geolocalisation</a></li>
                      <li><a href="{{ url_for('contrib') }}">MISP Contributors</a></li>
                      <li><a href="{{ url_for('users') }}">MISP Users</a></li>
                      <li><a href="{{ url_for('trendings') }}">MISP Trendings</a></li>
                    </ul>

                <div id="ledsHolder" style="float: right; height: 50px;">
                    <div class='leftSepa textTopHeader'>
                        <strong>Zoom level:</strong>
                        <select id="zoom_selector">
                            <option value="{{ zoomlevel + 3 }}">{{ zoomlevel + 3 }}</option>
                            <option value="{{ zoomlevel + 2 }}">{{ zoomlevel + 2 }}</option>
                            <option value="{{ zoomlevel }}" selected>{{ zoomlevel }}</option>
                            <option value="{{ zoomlevel - 2 }}">{{ zoomlevel - 2 }}</option>
                            <option value="{{ zoomlevel - 4 }}">{{ zoomlevel - 4 }}</option>
                            <option value="{{ zoomlevel - 6 }}">{{ zoomlevel - 6 }}</option>
                            <option value="{{ zoomlevel - 8 }}">{{ zoomlevel - 8 }}</option>
                        </select>
                    </div>
                    <div class='leftSepa textTopHeader'>
                        <strong>Date: <input type="text" id="datepicker" size="30" style="margin-bottom: 5px;"></strong>
                    </div>
                    <div id="alertUpdate" class="textTopHeader alert alert-info" style="margin-left: 100px; Display: none;">Maps updated</div>
                </div>
            </div>
            <!-- /.navbar-header -->

        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="margin: 0px; padding: 0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="height: 10px;"></div>
                        <div class="col-lg-6">

                            <div class="col-lg-6">
                                <div class="panel panel-default" style="">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <b id="topMap1Header">1. Top location</b>
                                    </div>
                                    <div id="panelbody" class="panel-body" style="">
                                        <div id="topMap1" style="width:100%; height: calc(75vh / 3);"></div>
                                    </div>
                                </div><!-- /.panel-body -->

                                <div class="panel panel-default" style="">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <b id="topMap3Header">3. Top location</b>
                                    </div>
                                    <div id="panelbody" class="panel-body" style="">
                                        <div id="topMap3" style="width:100%; height: calc(75vh / 3);"></div>
                                    </div>
                                </div><!-- /.panel-body -->

                                <div class="panel panel-default" style="">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <b id="topMap5Header">5. Top location</b>
                                    </div>
                                    <div id="panelbody" class="panel-body" style="">
                                        <div id="topMap5" style="width:100%; height: calc(75vh / 3);"></div>
                                    </div>
                                </div><!-- /.panel-body -->
                            </div><!-- /.col-lg-6-6 -->

                            <div class="col-lg-6">
                                <div class="panel panel-default" style="">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <b id="topMap2Header">2. Top location</b>
                                    </div>
                                    <div id="panelbody" class="panel-body" style="">
                                        <div id="topMap2" style="width:100%; height: calc(75vh / 3);"></div>
                                    </div>
                                </div><!-- /.panel-body -->

                                <div class="panel panel-default" style="">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <b id="topMap4Header">4. Top location</b>
                                    </div>
                                    <div id="panelbody" class="panel-body" style="">
                                        <div id="topMap4" style="width:100%; height: calc(75vh / 3);"></div>
                                    </div>
                                </div><!-- /.panel-body -->

                                <div class="panel panel-default" style="">
                                    <div class="panel-heading bg-info" style="font-weight: bold;">
                                        <b id="topMap6Header">6. Top location</b>
                                    </div>
                                    <div id="panelbody" class="panel-body" style="">
                                        <div id="topMap6" style="width:100%; height: calc(75vh / 3);"></div>
                                    </div>
                                </div><!-- /.panel-body -->
                            </div><!-- /.col-lg-6-6 -->

                        </div><!-- /.col-lg-6 -->

                        <div class="col-lg-6">

                            <div class="panel panel-default" style="height: 100%;">
                                <div class="panel-heading bg-info" style="font-weight: bold;">
                                    <b id="worldMapHeader">Hit map </b>
                                </div>
                                <div id="panelbody" class="panel-body" style="height: 100%;">
                                    <div id="worldMap" style="width:100%; height: 30vh; position: relative;"></div>
                                </div>
                                <!-- /.panel-body -->
                            </div><!-- /.panel -->

                            <div class="panel panel-default" style="height: 100%;">
                                <div class="panel-heading bg-info" style="font-weight: bold; padding: 5px 10px;">
                                    <b id="radiusHeader" style="font-size: 18px;">Geospatial information</b>
                                    <strong  class='leftSepa textTopHeader' style="float: none; padding: 11px;">Dates:
                                        <input type="text" id="datepickerRadiusFrom" size="20" style="">
                                        <input type="text" id="datepickerRadiusTo" size="20" style="">
                                    </strong>
                                    <button type="button" class="btn btn-default leftSepa" onclick="queryAndAddMarkers()">Query</button>
                                </div>
                                <div id="panelbody" class="panel-body" style="height: 100%;">
                                    <div id="radiusMap" style="width:100%; height: 51vh; position: relative; z-index: 1;"></div>
                                </div>
                                <!-- /.panel-body -->
                            </div><!-- /.panel -->


                        </div><!-- /.col-lg-6 -->

                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->

            </div> <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
<!-- /#wrapper -->

    <!-- Index -->
    <script>
        /* URL */
        var urlTopCoord = "{{ url_for('getTopCoord') }}";
        var urlHitMap = "{{ url_for('getHitMap') }}";
        var urlCoordsByRadius = "{{ url_for('getCoordsByRadius') }}";
        var urlIconCalendar = "{{ url_for('static', filename='pics/calendar.gif') }}";

        /* DATA FROM CONF */
        var default_zoom_level = {{ zoomlevel }};
        var default_updateFrequency = {{ default_updateFrequency }};

    </script>
    <script src="{{ url_for('static', filename='js/geo.js') }}"></script>

</body>

</html>
