<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Misp feed dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>

</head>

<style>
table {
    overflow-y: scroll;
}

.marker_animation {
  stroke: darkred;
  position: absolute;
  opacity: 1;
  border-radius: 80px;
  -moz-border-radius: 80px;
  /* 40px radius, move origin to center */
  height: 30px;
  width: 30px;
  margin: 0px;
  pointer-events: none; /* dont kill the hover event of markers */
  -webkit-transform: translateZ(0); /* little trick to force GPU acceleration */
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*
.panel-body {
        padding: 0px;
}
*/

/*
.panel-default {
    border-color: #ddd;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: #fff0;
    border-left-color: rgb(221, 221, 221);
}
*/

small {
    font-size: 100%;
    font-weight: bold;
}

</style>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; padding-left: 15px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Misp feed dashboard</a>
            </div>
            <!-- /.navbar-header -->

        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="margin: 0px; padding: 0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                       <div class="col-lg-5">
                        
                        <div class="panel panel-default" style="margin-top: 15px; height: 68vh;">
                            <!--<div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Statistics
                            </div>-->
                            <!--<div id="panelbody" class="panel-body" style="height: 37vh; width:100%;">
                                <div id="feedDiv1A" style="width:50%; height: calc(100% - 30px); position: relative; float: left;"></div>
                                <div id="feedDiv1B" style="width:50%; height: calc(100% - 30px); position: relative; float: left;"></div>-->
                            <div  id="textMap1" class="panel-heading bg-info" style="font-weight: bold;"> No map
                                <i class="fa fa-bar-chart-o fa-fw"></i> 
                            </div>
                            <div id="panelbody" class="panel-body" style="height: 93%; padding: 5px">
                                <div id="feedDivMap1" style="width:100%; height: 100%;">
                                </div>
                            </div>
                            <!-- /.panel-body -->

                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default" style="margin-top: 15px; height: 20vh;">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Log feed
                            </div>
                            <div id="panelbody" class="panel-body" style="width:100%; height: calc(100% - 30px);">
                                <div id="feedDiv3" style="width:100%; height: calc(100% - 30px); position: relative;"></div>
                            </div>
                        </div>


                    </div>
                    <!-- /.col-lg-6 -->
                    <!-- /.col-lg-6 -->
                    <!-- vh sum = 87 -->
                    <div class="col-lg-7">
                        
                        <div class="panel panel-default" style="margin-top: 15px; height: 59vh;">
                            <!--<div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Feed
                            </div>-->
                            <div id="panelbody" class="panel-body" style="height: 100%;">
                                <div id="feedDiv2" style="width:100%; height: calc(100% - 30px); position: relative;"></div>
                            </div>
                            <!-- /.panel-body -->

                        </div>
                        <!-- /.panel -->

                        <div class="panel panel-default" style="height: 29vh;">
                            <div class="panel-heading">
                                <i class="fa fa-tasks fa-fw"></i> Logs
                                <div class="pull-right">
                                    <input id="checkbox_log_info" type="checkbox" value="info"> INFO
                                    <input id="checkbox_log_warning" type="checkbox" value="warning" checked="true"> WARNING
                                    <input id="checkbox_log_critical" type="checkbox" value="critical" checked="true"> CRITICAL
                                </div>
                            </div>
                            <div id="divLogTable" class="panel-body" style="height: 98%;">
                                <div class="row" style="height: 100%;">
                                    <div class="col-lg-12" style="height: 100%;">
                                        <table class="table table-bordered table-hover table-striped" id="table_log">
                                            <thead id="table_log_head">
                                            </thead>
                                            <tbody id="table_log_body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row CHART -->

                <div class="row">
                    <div class="col-lg-12">
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row LOGS -->


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
<!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- jQuery flot -->
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.pie.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Index -->
    <script> 
        /* URL */
        var urlForLogs = "{{ url_for('logs') }}";
        var urlForHead = "{{ url_for('getLogHead') }}";
        var urlForMaps = "{{ url_for('maps') }}";
        var linkForDefaultMap = "{{ url_for('static', filename='maps/default.png') }}";
        /* DATA */
        var graph_log_refresh_rate = {{ graph_log_refresh_rate }};
        setTimeout(function(){
        }, 3000);
    </script>
    <script src="{{ url_for('static', filename='js/index/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index/index_lineChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index/index_map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index/index_pie.js') }}"></script>


    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-jvectormap-2.0.3.css') }}" type="text/css" media="screen"/>
    <script src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-jvectormap-world-mill.js') }}"></script>
    <script type="text/javascript">

    </script>

</body>

</html>
