<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    <meta name="viewport" content="width=device-width" />
    <title>
        Users - MISP
    </title>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="text/css">

</head>
<body>
    <div id="flashContainer" style="padding-top:50px; !important;">
        <div id="main-view-container" class="container-fluid ">
        </div>
    </div>

    <div>
        <div style="width:100%;">
    <table style="margin-left:auto;margin-right:auto;">
    <tr>
    <td style="text-align:right;width:250px;padding-right:50px"></td>
    <td style="width:460px">

        <div>
            <img src="{{ url_for('static', filename='/pics/misp-logo.png') }}" style="display:block; margin-left: auto; margin-right: auto;"/>
        </div>


        <form action="" id="UserLoginForm" method="post" accept-charset="utf-8">
            <br><legend>Welcome to MISP-Dashboard</legend><br>
        <div class="input email required">
            {{ form.username.label }}<br>
            {{ form.username(size=32, maxlength=255, autocomplete="off", autofocus="autofocus") }}
        </div>
        <div class="input password required">
            {{ form.password.label }}<br>
            {{ form.password(size=32, maxlength=255, autocomplete="off") }}
        </div>

        <div class="clear"></div>
            <p>{{ form.submit() }}</p>
        </form>

    </td>
    <td style="width:250px;padding-left:50px"></td>
    </tr>
    </table>
</div>
    </div>

</body>
</html>
